<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <h3>Películas nuevas</h3>
    </ion-row>
  </ion-grid>

    <swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
      <ng-template swiperSlide *ngFor="let pelicula of arrayPeliculas">
        <ion-label>{{pelicula}}</ion-label>
      </ng-template>
    </swiper>
    
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <h3>Cartelera</h3>
    </ion-row>
  </ion-grid>

  <swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
    <ng-template swiperSlide *ngFor="let cartelera of arrayCartelera">
      <ion-label>{{cartelera}}</ion-label>
    </ng-template>
  </swiper>

  <ion-grid>
    <ion-row>
      <h3>Populares</h3>
    </ion-row>
  </ion-grid>

  <ion-slides>

    <ion-slide>
      Popular 1
    </ion-slide>
    
    <ion-slide>
      Popular 2
    </ion-slide>

    <ion-slide>
      Popular 3
    </ion-slide>
    
    <ion-slide>
      Popular 4
    </ion-slide>

    

  </ion-slides>

</ion-content>
