<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <h3>Películas nuevas</h3>
    </ion-row>
  </ion-grid>


    <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid>
    <ion-row>
      <h3>Cartelera</h3>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>


  <ion-grid>
    <ion-row>
      <h3>Populares</h3>
    </ion-row>
  </ion-grid>

  <app-slideshow-pares [peliculasPopulares]="peliculasPopulares"></app-slideshow-pares>


  <ion-slides></ion-slides>

</ion-content>
